/library/History
/library/pcb/History
/library/sch/History
/library/pcb/msop/History
/library/pcb/nsop/History
/library/pcb/qfn/History
/library/pcb/soic/History
/library/pcb/ssop/History
/library/pcb/tssop/History
/library/Altium System Library.lnk
